.pic-container{

}

.image {
  width: 90%;
  border: 20px solid black;
  border-radius: 10px;
  margin-right: 12px;
  margin-left: 12px;
}

.post {
  border: 10px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  opacity: 2;
}

.instagram-post {
  margin: 24px 12px 36px 12px;
}

.profile-pic {
  border-radius: 50px;
  width: 30%;
}

.username {
  font-size: 16px;
  color: #5283A4;
}